<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <title>BDD</title>
  </head>
  <body>
    @RenderBody()
  </body>
</html>
